<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e12510c-16cb-4af0-ac92-f9e56609d907/resourceGroups/PortfolioWebsiteGroup/providers/Microsoft.Web/sites/PortfolioWebsiteApp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://portfoliowebsiteapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>b26d997f-db9f-4fa9-b0dc-6222f7bd3564</ProjectGuid>
    <PublishUrl>https://portfoliowebsiteapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PortfolioWebsiteApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>