@using BlazorAnimate

@page "/"

<div class="jumbotron texture-background mb-0">
    <div class="background-grey p-4 mb-0 rounded-lg shadow-lg border border-dark">
        <!--<p class="lead"></p>
        <hr class="my-4"> -->
        <div class="row">
            <div class="col-lg-12 col-xl-7 text-md-center">
                <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">Hi there.</h1>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">I am a motivated to succeed, Early-Career Android Developer with a proven record for creativity, learning new technologies efficiently, and excellent communication with stakeholders.</p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    After earning my B.S. in Chemistry from the University of Michigan, my career quickly pivoted from laboratory work towards information technology as a SharePoint Consultant due to a found love for developing intranet sites.
                    In 2020, I committed towards branching-out and the pursuit of my passion of software engineering, enrolling in Eastern Michigan University's Computer Science program - maintaining a 4.0 GPA.
                </p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    I have numerous hobbyist projects, some of which are published on the Google Play Store. Personal development is something which I take very seriously and I follow the latest best practices in Android Development by investing substantial time in myself for education.
                </p>
                <img width="400rem" class="mt-4 mb-3" fill="#00274C;" src="Siggy.svg" />
            </div>
            <div class="col-lg-12 col-xl-5 justify-content-center text-center">
                    
                <Animate Animation="Animations.SlideLeft" Duration="TimeSpan.FromSeconds(1.5)">
                    <img class="rounded-circle shadow-lg p-0 m-5" style="border: 0.7rem solid #FFCB05;" width="400rem" height="auto" src="headshot.jpg" /> 
                </Animate>
            </div>
        </div>
    </div>
        
</div>

<div class="row mt-0 p-4" style="background-color: #FFCB05;">
        <div class="col p-4 m-2 bg-light rounded-lg shadow-lg border border-white">
            <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">My projects.</h1>
            <div class="row py-4">
                <div class="col-4 py-2 px-2 text-center justify-content-center">
                    <img width="250rem" src="https://github.com/Tyler-Lopez/CS-TriviaApp/raw/main/app/demo/gif_preview.gif?raw=true"/>
                </div>
                <div class="col-8">
                    <h2 style="color: #00274C; font-weight: bold; font-size: 2.5rem; font-family: 'Roboto Slab', serif;">Computer Science Flashcards</h2>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        An Android educational flashcard application in-development.
                        Questions and answers are currently hard-coded and cover various standard courses of an undergraduate computer science degree.
                    </p>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        <a href="https://github.com/Tyler-Lopez/CS-TriviaApp">
                            <i class="fab fa-github"></i> See it on GitHub
                        </a>

                    </p>
                    <h4><span class="badge badge-tag p-2 mx-1">Kotlin</span><span class="badge badge-tag p-2 mx-1">Jetpack Compose</span></h4>

                </div>
            </div>
            </div>

    <div class="col p-4 m-2 bg-light rounded-lg shadow-lg border border-white foo">
       
        <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">Contact me.</h1>
        <div class="row py-4">
            <div class="col">
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-envelope"></i> tylerlopezmi@gmail.com</p>
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-envelope"></i> tlopez4@emich.edu</p>
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-phone-square-alt"></i> (989) 964-8982</p>
            </div>
        </div>


    </div>
</div>
