@page "/"

    <div class="jumbotron texture-background">
        <div class="background-grey p-4 rounded-lg shadow-lg border border-dark">
            <!--<p class="lead"></p>
            <hr class="my-4"> -->
            <div class="row">
                <div class="col-md">
                    <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">Hi there.</h1>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">I am a motivated to succeed, Early-Career Android Developer with a proven record for creativity, learning new technologies quickly, and excellent communication with stakeholders.</p>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        After earning my B.S. in Chemistry from the University of Michigan, my career quickly pivoted from laboratory work towards information technology as a SharePoint Consultant due to a found love for developing intranet sites.
                        In 2020, I committed towards branching-out and the pursuit of my passion of software engineering, enrolling in Eastern Michigan University's Computer Science program - maintaining a 4.0 GPA.
                    </p>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        At present, I have numerous hobbyist projects, both published on the Google Play Store and in-development. I take personal development very seriously and follow the latest best practices in Android Development.
                    </p>
                    <img width="250rem" class="mt-2" fill="#00274C;" src="Siggy.svg" />
                </div>
                <div class="col-sm px-5 justify-content-center text-center">
                    
                   <img class="rounded-circle shadow-lg p-0 m-5" style="border: 0.7rem solid #FFCB05;" width="600rem" height="auto" src="headshot.jpg" /> 
                </div>
            </div>
        </div>
    </div>
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>