@inherits LayoutComponentBase
<!--<div class="sidebar">
    <NavMenu />
</div>
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light background-black">
        <a class="navbar-brand text-white-50" style="font-family: 'Roboto Slab', serif;" href="#">Tyler Lopez, Android Engineer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="https://github.com/Tyler-Lopez">
                    <i class="fab fa-github-square text-white" style="font-size:1.8rem"></i>
                    </a>
                    <a class="nav-item nav-link text-white" href="https://www.linkedin.com/in/tylerlopez/">

                        <i class="fab fa-linkedin text-white" style="font-size:1.8rem"></i>


                    </a>
</div>
        </div>
    </nav>

    @Body
</div>
